* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #33658A;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    padding: 5%;
}

form input {
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    height: 35px;
}

.register {
    padding: 5px;
    margin: 10px;
    background-color: #ffe241;
    height: 30px;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 0px;
}

.register:hover {
    background-color: #ebd03c;
    cursor: pointer;
}

main {
    width: 30vw;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #86BBD8;
    border-radius: 10px;
}

header {
    background-color: #fff;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ol li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: #33658A;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    transition: 0.3s ease;
    color: #ffe241;
    font-weight: bold;
    font-size: 16px;
}